@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600&display=swap');

/* h1 Defaults */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Heebo, sans-serif;
}

:root {
	--fontcolor: #e1e1e1;
	--background: linear-gradient(125deg, #001825, #000000);
	--red: #c80000;
	--screen: #111;
	--screen-theme: #ddd;
	--carousel-width: 700px;
}

::-webkit-scrollbar {
	display: none;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: var(--background);
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/* h1 Header */
header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 120px;
	padding: 40px 60px;
	transition: 0.4s all ease-in-out;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 10;
}

h1 {
	font-size: 1.6rem;
	font-weight: 500;
	width: 260px;
}

h1:hover {
	color: var(--red);
}

header a {
	text-decoration: none;
	color: var(--fontcolor);
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 400;
	letter-spacing: 2px;
}

header nav {
	width: 600px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

nav ul li {
	margin-right: 30px;
	padding: 6px;
	border-radius: 10px;
}

nav ul li a:hover {
	color: var(--red);
}

nav ul li:last-child {
	margin-right: 0px;
}

/* h1 Menu Button */
#hamburger {
	display: none;
	cursor: pointer;
}

/* h1 Main */
main {
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
}

.blur {
	filter: blur(4px);
}

main section {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	scroll-snap-align: start;
	position: relative;
}

section h2 {
	position: absolute;
	letter-spacing: 2px;
	color: var(--fontcolor);
	font-size: 6rem;
	width: 440px;
	top: 45%;
	left: -50%;
	transform: translateY(-45%);
	font-weight: 400;
	transition: 1s linear;
	z-index: 8;
}

section p {
	position: absolute;
	color: var(--fontcolor);
	font-size: 1.4rem;
	left: -60%;
	bottom: 20%;
	width: 700px;
	transform: translateY(80%);
	font-weight: 300;
	transition: 1s 0.5s linear;
	z-index: 7;
}

section .technologies {
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 10%;
	left: -50%;
	transition: 1s 0.5s linear;
}

section .primary-button {
	text-decoration: none;
	color: var(--screen);
	background-color: var(--screen-theme);
	margin-left: 20px;
	padding: 8px 16px;
	border-radius: 10px;
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0;
	transition: opacity 0.5s 1s linear;
}

section .socials {
	position: absolute;
	left: -60%;
	bottom: 20%;
	transform: translateY(80%);
	transition: 1s 0.5s linear;
	z-index: 7;
}

.active-display h2,
.active-display p,
.active-display .technologies,
.active-display .socials {
	left: 10%;
}

.active-display .primary-button {
	opacity: 1;
}

.active-display .primary-button:hover {
	background-color: var(--red);
}

.active-display .buttons {
	display: flex;
	position: absolute;
	top: 60%;
	left: 10%;
	z-index: 8;
	transition: 1s linear;
}

ion-icon {
	color: var(--fontcolor);
	font-size: 1.8rem;
	margin-left: 10px;
	pointer-events: none;
	transition: 0.5s linear;
}

.socials ion-icon {
	margin: 0px;
	font-size: 1.8rem;
}

.socials a {
	margin-left: 20px;
	text-decoration: none;
}

/* h2 SVG */
section svg {
	position: absolute;
	width: 680px;
	top: 60%;
	right: -50%;
	transform: translateY(-50%);
	transition: 1s linear;
	z-index: 5;
}

.active-display svg {
	right: 5%;
}

#screen path,
#screen-2 path {
	fill: var(--screen);
}

#theme path,
#profile-1 path {
	fill: var(--screen-theme);
}

#vector {
	fill: var(--fontcolor);
}

/* h2 SVG Animations */
#head {
	animation: tilt 3s infinite alternate;
	transform-origin: center;
}

#head-2 {
	animation: tilt-2 3s infinite alternate;
	transform-origin: bottom;
	transform-box: fill-box;
}

#hand {
	animation: type 0.6s infinite alternate;
	transform-origin: bottom;
	transform-box: fill-box;
}

#moon {
	animation: set 20s infinite alternate;
	transform-origin: center;
}

#screen-content-1 path,
#screen-content-3 path {
	animation: change-1 20s infinite alternate;
}

#screen-content-2 path,
#screen-content-4 path {
	animation: change-2 16s infinite alternate;
}

/* h2 Carousel */
section .carousel-container {
	position: absolute;
	width: var(--carousel-width);
	height: fit-content;
	top: 55%;
	right: -50%;
	border-radius: 10px;
	overflow: hidden;
	transform: translateY(-50%);
	transition: 1s linear;
	z-index: 5;
}

.active-display .carousel-container {
	right: 6%;
}

.carousel-slide {
	height: 100%;
	width: fit-content;
	display: flex;
	background-color: var(--screen);
}

.carousel-card {
	width: var(--carousel-width);
}

.carousel-slide img {
	width: var(--carousel-width);
}

.carousel-slide h4 {
	color: var(--fontcolor);
	text-align: center;
	font-size: 1.4rem;
}

#next-btn {
	color: var(--red);
	position: absolute;
	top: 0%;
	right: 0%;
	display: flex;
	align-items: center;
	font-size: 2rem;
	margin: 0px;
	pointer-events: all;
	cursor: pointer;
	transition: none;
}

#prev-btn {
	color: var(--red);
	position: absolute;
	top: 0%;
	left: 0%;
	display: flex;
	align-items: center;
	font-size: 2rem;
	margin: 0px;
	pointer-events: all;
	cursor: pointer;
	transition: none;
}

#next-btn:hover,
#prev-btn:hover {
	background-color: rgba(0, 255, 255, 0.1);
}

.carousel-animate {
	transition: 0.5s ease-in-out;
}

/* h2 Form */
section form {
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 50%;
	right: -50%;
	transform: translate(5%, -50%);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	border: 1px solid var(--fontcolor);
	border-radius: 10px;
	overflow: hidden;
	transition: 1s linear;
}

.active-display form {
	right: 10%;
}

form input,
form textarea {
	resize: none;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--fontcolor);
	padding: 5px 8px;
	font-size: 1rem;
	color: var(--fontcolor);
	width: 600px;
}

form .name input {
	width: 300px;
}

form .name input:last-child {
	border-left: 1px solid var(--fontcolor);
}

form input:focus,
form textarea:focus {
	outline: none;
	background-color: var(--screen);
}

form .primary-button {
	padding: 4px 6px;
	font-size: 1rem;
	width: 100%;
	margin: 0px;
}

/* h1 side Navigator */
.navigator {
	position: fixed;
	list-style: none;
	display: flex;
	flex-direction: column;
	height: 200px;
	bottom: 50%;
	transform: translateY(50%);
	left: 5%;
	justify-content: space-between;
}

.navigator li {
	height: 20px;
	border-radius: 50vw;
	width: 5px;
	background-color: var(--fontcolor);
	transition: 0.2s linear;
}

.navigator li.active {
	height: 40px;
	border-radius: 50vw;
	width: 4px;
	background-color: var(--fontcolor);
}

@keyframes tilt {
	from {
		transform: rotateZ(5deg);
	}
	to {
		transform: rotateZ(-5deg);
	}
}

@keyframes tilt-2 {
	from {
		transform: rotateZ(3deg);
	}
	to {
		transform: rotateZ(-7deg);
	}
}

@keyframes type {
	from {
		transform: rotateZ(0deg);
	}
	to {
		transform: rotateZ(8deg);
	}
}

@keyframes set {
	from {
		transform: translateY(0px) translateX(0px);
	}
	to {
		transform: translateY(150px) translateX(80px);
	}
}

@keyframes change-1 {
	0%,
	24% {
		fill: #c5c5c5;
	}
	25%,
	49% {
		fill: #00b0ff;
	}
	50%,
	74% {
		fill: #f9a826;
	}
	75%,
	100% {
		fill: #c80000;
	}
}

@keyframes change-2 {
	0%,
	24% {
		fill: #c80000;
	}
	25%,
	49% {
		fill: #00bfa6;
	}
	50%,
	74% {
		fill: #6c63ff;
	}
	75%,
	100% {
		fill: #c5c5c5;
	}
}

@media only screen and (max-width: 980px) {
	:root {
		--carousel-width: 550px;
	}

	/* h1 Main */
	section svg {
		width: 580px;
		top: 50%;
		right: -100%;
		transform: translateY(-50%);
	}

	section h2 {
		font-size: 5rem;
		width: 530px;
		top: 65%;
		left: -50%;
		transform: translateY(-65%);
		font-weight: 400;
	}

	.active-display h2 {
		left: 10%;
	}

	section .primary-button {
		font-size: 1.1rem;
		padding: 6px 12px;
	}

	.active-display .buttons {
		top: 70%;
	}

	/* h1 Carousel */
	section .carousel-container {
		top: 45%;
		right: -100%;
	}

	/* h1 Form */
	section form {
		top: 38%;
		right: -50%;
		transform: translate(50%, -50%);
	}

	.active-display form {
		right: 50%;
	}
}

@media only screen and (max-width: 780px) {
	:root {
		--carousel-width: 350px;
	}

	/* h1 Header */
	header {
		padding: 40px;
	}

	header nav {
		width: fit-content;
	}

	header nav ul {
		flex-direction: column;
		position: fixed;
		top: 15%;
		right: -100%;
		height: 90%;
		width: 100vw;
		justify-content: space-between;
		align-items: center;
		padding-block: 50px 250px;
		transition: 0.5s all ease;
	}

	/* h1 Menu */
	.show {
		right: 0%;
	}
	nav ul li {
		margin-right: 0px;
	}

	nav ul li a {
		font-size: 1.6rem;
	}

	nav {
		text-align: end;
	}

	/* h2 Menu Button */

	#hamburger {
		display: block;
		position: relative;
		height: 30px;
		width: 30px;
		overflow: hidden;
	}

	#hamburger:hover > #line-1,
	#hamburger:hover > #line-2,
	#hamburger:hover > #line-3 {
		background-color: red;
	}

	#line-1 {
		height: 2px;
		width: 20px;
		background-color: var(--fontcolor);
		border-radius: 50vh;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.6s linear;
	}

	#line-2 {
		height: 2px;
		width: 20px;
		background-color: var(--fontcolor);
		border-radius: 50vh;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.6s linear;
	}

	#line-3 {
		height: 2px;
		width: 20px;
		background-color: var(--fontcolor);
		border-radius: 50vh;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: 0.6s linear;
	}

	#hamburger.change:hover > #line-1,
	#hamburger.change:hover > #line-2,
	#hamburger.change:hover > #line-3 {
		background-color: var(--fontcolor);
	}

	#hamburger.change #line-2 {
		width: 0px;
		background-color: red;
	}

	#hamburger.change #line-1 {
		top: 45%;
		left: 18%;
		transform: rotateZ(-45deg);
		background-color: red;
	}

	#hamburger.change #line-3 {
		top: 45%;
		left: 18%;
		transform: rotateZ(45deg);
		background-color: red;
	}

	/* h1 Main */
	section h2 {
		font-size: 3rem;
		width: 280px;
		top: 65%;
		left: -100%;
		transform: translateY(-65%);
	}

	section p {
		font-size: 1.1rem;
		width: 90%;
		left: -100%;
		bottom: 25%;
		transform: translateY(75%);
	}

	section .technologies {
		bottom: 16%;
	}

	section .primary-button {
		text-align: center;
		margin-left: 6px;
		padding: 4px 8px;
		font-size: 1rem;
	}

	section .socials {
		left: -100%;
		bottom: 25%;
		transform: translateY(75%);
	}

	.active-display h2,
	.active-display p,
	.active-display .technologies,
	.active-display .socials {
		left: 5%;
	}

	.active-display .buttons {
		left: auto;
		right: 5%;
		top: 79%;
	}

	.active-display .buttons.about-button {
		left: 5%;
		top: 52%;
	}

	ion-icon {
		font-size: 1.5rem;
	}

	section svg {
		width: 380px;
		top: 0%;
		right: -50%;
		transform: translate(50%, 0%);
	}

	.active-display svg {
		right: 50%;
	}

	/* h1 Side Navigation */
	.navigator {
		flex-direction: row;
		height: fit-content;
		width: 200px;
		bottom: 10%;
		left: 50%;
		transform: translate(-50%, 90%);
	}

	/* h1 Carousel */
	section .carousel-container {
		top: 40%;
		transform: translate(50%, -50%);
	}

	.active-display .carousel-container {
		right: 50%;
	}

	/* h1 Form */
	form input,
	form textarea {
		width: 80vw;
	}

	form .name input {
		width: 40vw;
	}
}
